* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

#header-bck {
    height: 50%;
    width: 100%;
    background-color: #60BCFF;
}

#about-container {
    padding-top: 10px;
    padding-right: 20px;

    margin-left: auto;
    margin-right: 5%;
    

    width: 130px;
    
}

#about:hover {
    background-color: rgb(140, 182, 212);
}

#about {
    display: grid;
    
    height: 40px;
    

    padding-right: 20px;
    

    text-align: right;

    font-size: 20pt;

    border: 2px solid black;
    border-radius: 10px;
}

#website-title {
    font-size: 7vh;
    text-align: center;
    padding-top: 1vh;
    font-weight: bold;
}

#date {
    text-align: center;
    font-size: 6vh;
}

#grid-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
}

.btn {
    
    font-size: 6vh;
    text-align: center;
    
    
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;

    padding-top: 20px;
    padding-bottom: 20px;

    
}

#data-container {
    font-size: 6vh;

    margin-left: auto;
    margin-right: auto;
    width: 70%;

    padding-top: 4vh;

    line-height: 12vh;
}

@media (max-width: 900px) {
    #header-bck {
        width: auto;
        height: 50%;
        background-color: #60BCFF;
        margin-left: auto;
        margin-right: auto;
    }
    
    #data-container {
        font-size: 3vh;
        padding-top: 2vh;

        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #website-title {
        font-size: 5vh;
        text-align: center;
        padding-top: 5px;
        font-weight: bold;
    }

    .btn {
        
        font-size: 3vh;
        text-align: center;
    }
    
    #website-title {
        font-size: 5vh;
        text-align: center;
        padding-top: 5px;
        font-weight: bold;
    }
    
    #date {
        text-align: center;
        font-size: 3vh;
    }

    #about-container {
        padding-top: 10px;
        padding-right: 20px;
    
        margin-left: 40%;
        margin-right: 40%;
        
    
        width: 130px;
        
    }
    
}